# Top-25 species per Country/Region (PA)

In [1]:
import pandas as pd

In [2]:
train_df = pd.read_pickle('processed_data/internal/train.pkl')
test_df = pd.read_pickle('processed_data/internal/test_X.pkl')

In [3]:
keep_columns_train = (
    ['surveyId'] +
    list(train_df.columns[train_df.columns.str.startswith("country_")]) +
    list(train_df.columns[train_df.columns.str.startswith("region_")]) +
    list(train_df.columns[train_df.columns.str.startswith("speciesId_")])
)
keep_columns_test = (
    ['surveyId'] +
    list(test_df.columns[test_df.columns.str.startswith("country_")]) +
    list(test_df.columns[test_df.columns.str.startswith("region_")])
)

In [4]:
# drop columns that are not in keep_columns
train_df = train_df[keep_columns_train].copy()
test_df = test_df[keep_columns_test].copy()

In [5]:
# remove one-hot-encoding from country and region columns
train_df['country'] = train_df.filter(like='country_').idxmax(axis=1).str.replace('country_', '')
train_df['region'] = train_df.filter(like='region').idxmax(axis=1).str.replace('region_', '')
test_df['country'] = test_df.filter(like='country_').idxmax(axis=1).str.replace('country_', '')
test_df['region'] = test_df.filter(like='region').idxmax(axis=1).str.replace('region_', '')

In [6]:
# drop one-hot-encoded columns
train_df = train_df.drop(columns=train_df.filter(like='country_').columns)
train_df = train_df.drop(columns=train_df.filter(like='region_').columns)
test_df = test_df.drop(columns=test_df.filter(like='country_').columns)
test_df = test_df.drop(columns=test_df.filter(like='region_').columns)

In [7]:
# group train_df by country and region summing the speciesId columns
train_df =train_df.drop(columns='surveyId')
train_df = train_df.groupby(['country', 'region']).sum().reset_index()

In [8]:
train_df.head(50)

,country,region,speciesId_51,speciesId_53,speciesId_96,speciesId_129,speciesId_140,speciesId_146,speciesId_167,speciesId_169,...,speciesId_10991,speciesId_10998,speciesId_11005,speciesId_11054,speciesId_11078,speciesId_11120,speciesId_11140,speciesId_11157,speciesId_11193,speciesId_11195
0,Austria,ALPINE,1,39,74,0,1,17,36,0,...,14,24,0,25,0,39,109,0,0,27
1,Austria,CONTINENTAL,3,3,7,0,1,67,23,0,...,7,23,6,17,2,7,185,0,0,21
2,Austria,PANNONIAN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
3,Belgium,ATLANTIC,0,5,16,0,5,14,23,21,...,0,10,0,48,57,3,257,0,0,249
4,Belgium,CONTINENTAL,0,3,0,0,9,0,3,5,...,0,0,1,2,2,0,13,0,0,4
5,Bosnia and Herzegovina,ALPINE,0,2,0,0,0,0,0,0,...,0,2,0,2,0,10,0,0,0,2
6,Bosnia and Herzegovina,CONTINENTAL,0,0,0,0,0,1,0,0,...,0,1,0,0,0,3,2,0,0,2
7,Bosnia and Herzegovina,MEDITERRANEAN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,Bulgaria,ALPINE,0,0,0,0,0,0,0,0,...,0,1,0,0,0,2,14,0,0,0
9,Bulgaria,BLACK SEA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Bulgaria,CONTINENTAL,0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,9,0,0,0
11,Croatia,ALPINE,1,3,0,0,0,2,0,0,...,2,0,0,0,0,0,0,0,0,0
12,Croatia,CONTINENTAL,0,2,0,0,0,12,1,0,...,0,0,13,4,0,0,7,0,0,3
13,Croatia,MEDITERRANEAN,8,0,0,0,0,0,0,0,...,0,0,0,0,0,3,3,0,1,0
14,Czech Republic,CONTINENTAL,0,100,72,0,19,35,17,1,...,16,15,6,57,25,2,106,0,0,62
15,Czech Republic,PANNONIAN,0,0,0,0,1,6,1,0,...,2,2,1,1,2,0,16,0,0,1
16,Denmark,ATLANTIC,0,387,1033,366,0,6,11,71,...,5,15,76,10,323,0,1537,0,0,1312
17,Denmark,CONTINENTAL,0,1371,795,418,76,45,133,143,...,25,232,807,120,1169,18,4625,0,0,5415
18,France,ALPINE,4,113,36,10,1,52,3,0,...,37,2,5,16,0,8,10,2,0,16
19,France,ATLANTIC,50,39,0,0,146,640,3,1,...,46,3,82,61,0,15,37,67,0,69
20,France,CONTINENTAL,7,820,15,1,161,722,0,7,...,218,0,475,97,0,76,61,5,0,55
21,France,MEDITERRANEAN,314,23,2,11,10,283,4,0,...,41,17,6,3,9,115,207,927,496,120
22,Germany,ALPINE,0,1,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Germany,ATLANTIC,0,6,7,0,10,4,0,4,...,1,0,2,8,17,1,33,0,0,72
24,Germany,CONTINENTAL,0,41,1,0,0,130,143,0,...,1,155,64,18,0,3,280,0,0,37
25,Greece,MEDITERRANEAN,0,0,0,0,0,0,2,0,...,0,4,0,0,0,9,4,3,5,1
26,Italy,ALPINE,6,66,41,0,0,16,4,0,...,3,12,0,23,3,8,47,8,0,20
27,Italy,CONTINENTAL,1,3,3,0,0,22,0,1,...,1,0,1,1,2,9,9,4,0,11
28,Italy,MEDITERRANEAN,17,0,0,0,0,10,0,1,...,0,0,2,0,2,7,26,285,300,6
29,Montenegro,ALPINE,1,67,0,0,0,0,0,0,...,0,1,0,0,0,3,0,0,0,0
30,Montenegro,MEDITERRANEAN,5,0,0,0,0,0,2,0,...,0,1,0,0,0,0,246,0,0,5
31,Netherlands,ATLANTIC,0,51,161,0,149,87,106,137,...,1,4,26,287,417,50,1868,0,0,1680
32,Poland,CONTINENTAL,0,49,86,0,0,4,2,0,...,4,1,6,27,5,0,97,0,0,38
33,Slovakia,CONTINENTAL,0,3,3,0,0,5,17,0,...,7,18,0,6,0,5,20,0,0,2
34,Slovakia,PANNONIAN,0,0,0,0,0,4,0,0,...,0,0,0,1,0,4,0,0,0,3
35,Slovenia,ALPINE,0,0,1,0,0,0,2,0,...,1,0,0,1,0,0,6,0,0,3
36,Slovenia,CONTINENTAL,0,0,3,0,0,4,0,0,...,0,0,5,0,0,0,3,0,0,0
37,Spain,ALPINE,1,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,Spain,ATLANTIC,0,0,9,0,0,21,6,0,...,4,1,1,0,0,0,43,3,4,11
39,Spain,MEDITERRANEAN,3,1,0,0,0,2,0,0,...,0,0,0,0,0,0,5,4,1,0
40,Switzerland,ALPINE,0,1,1,0,0,5,0,0,...,1,10,0,3,0,0,32,0,0,0
41,Switzerland,CONTINENTAL,0,11,0,0,0,2,0,0,...,5,0,1,2,0,0,1,0,0,1

In [9]:
# for each country and region, get the 25 speciesId_ with the highest count
species = train_df.drop(columns=['country', 'region']).T
species = species.apply(lambda x: x.nlargest(25).index)
species = species.T
species = species.reset_index()
# species.columns = ['country', 'region'] + [f'speciesId_{i}' for i in range()]
species['country'] = train_df['country']
species['region'] = train_df['region']
species = species.drop(columns='index')

In [10]:
species

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,country,region
0,speciesId_9024,speciesId_4748,speciesId_11140,speciesId_3722,speciesId_423,speciesId_10073,speciesId_1818,speciesId_10317,speciesId_10904,speciesId_5804,...,speciesId_1086,speciesId_1139,speciesId_6079,speciesId_9076,speciesId_9465,speciesId_1092,speciesId_1254,speciesId_8818,Austria,ALPINE
1,speciesId_1018,speciesId_10073,speciesId_4758,speciesId_5398,speciesId_7871,speciesId_11140,speciesId_5557,speciesId_10364,speciesId_10904,speciesId_1254,...,speciesId_6002,speciesId_5739,speciesId_423,speciesId_4734,speciesId_2840,speciesId_6643,speciesId_433,speciesId_3639,Austria,CONTINENTAL
2,speciesId_1858,speciesId_433,speciesId_4628,speciesId_9816,speciesId_7871,speciesId_1951,speciesId_5739,speciesId_2101,speciesId_11140,speciesId_907,...,speciesId_1254,speciesId_3123,speciesId_3347,speciesId_3476,speciesId_5398,speciesId_6746,speciesId_7227,speciesId_8858,Austria,PANNONIAN
3,speciesId_540,speciesId_6491,speciesId_2885,speciesId_6643,speciesId_11140,speciesId_9816,speciesId_6079,speciesId_11195,speciesId_4397,speciesId_254,...,speciesId_10317,speciesId_7121,speciesId_4499,speciesId_822,speciesId_5398,speciesId_6962,speciesId_3958,speciesId_649,Belgium,ATLANTIC
4,speciesId_6643,speciesId_2885,speciesId_9376,speciesId_2908,speciesId_4541,speciesId_540,speciesId_3958,speciesId_6915,speciesId_9890,speciesId_11140,...,speciesId_3177,speciesId_10763,speciesId_140,speciesId_1910,speciesId_4748,speciesId_1951,speciesId_2211,speciesId_2474,Belgium,CONTINENTAL
5,speciesId_11120,speciesId_10367,speciesId_1497,speciesId_1539,speciesId_7706,speciesId_2025,speciesId_4609,speciesId_4758,speciesId_544,speciesId_791,...,speciesId_8428,speciesId_10315,speciesId_10427,speciesId_469,speciesId_890,speciesId_963,speciesId_1677,speciesId_4397,Bosnia and Herzegovina,ALPINE
6,speciesId_4748,speciesId_8760,speciesId_4609,speciesId_4628,speciesId_4758,speciesId_8106,speciesId_10315,speciesId_11120,speciesId_300,speciesId_822,...,speciesId_3476,speciesId_5420,speciesId_5704,speciesId_6377,speciesId_7748,speciesId_7871,speciesId_8508,speciesId_8858,Bosnia and Herzegovina,CONTINENTAL
7,speciesId_509,speciesId_963,speciesId_1092,speciesId_1139,speciesId_1736,speciesId_2747,speciesId_3043,speciesId_4748,speciesId_5412,speciesId_5557,...,speciesId_53,speciesId_96,speciesId_129,speciesId_140,speciesId_146,speciesId_167,speciesId_169,speciesId_171,Bosnia and Herzegovina,MEDITERRANEAN
8,speciesId_1254,speciesId_9555,speciesId_10364,speciesId_8542,speciesId_10317,speciesId_11140,speciesId_10281,speciesId_10904,speciesId_8316,speciesId_3722,...,speciesId_6097,speciesId_8149,speciesId_9636,speciesId_4758,speciesId_5398,speciesId_2211,speciesId_10073,speciesId_249,Bulgaria,ALPINE
9,speciesId_6491,speciesId_5420,speciesId_2684,speciesId_4027,speciesId_8635,speciesId_51,speciesId_53,speciesId_96,speciesId_129,speciesId_140,...,speciesId_300,speciesId_340,speciesId_351,speciesId_391,speciesId_394,speciesId_398,speciesId_423,speciesId_424,Bulgaria,BLACK SEA
10,speciesId_10364,speciesId_9555,speciesId_8542,speciesId_3722,speciesId_1018,speciesId_4404,speciesId_7817,speciesId_11140,speciesId_7244,speciesId_10904,...,speciesId_3969,speciesId_6666,speciesId_7706,speciesId_8149,speciesId_10950,speciesId_3438,speciesId_7990,speciesId_9341,Bulgaria,CONTINENTAL
11,speciesId_963,speciesId_8807,speciesId_2474,speciesId_5542,speciesId_1677,speciesId_3792,speciesId_5022,speciesId_7862,speciesId_8106,speciesId_9261,...,speciesId_1793,speciesId_8428,speciesId_10315,speciesId_10385,speciesId_10896,speciesId_799,speciesId_1424,speciesId_2142,Croatia,ALPINE
12,speciesId_2474,speciesId_9028,speciesId_10385,speciesId_10896,speciesId_8106,speciesId_8424,speciesId_9647,speciesId_1677,speciesId_11005,speciesId_146,...,speciesId_5400,speciesId_6909,speciesId_8705,speciesId_9261,speciesId_10073,speciesId_4871,speciesId_5704,speciesId_10525,Croatia,CONTINENTAL
13,speciesId_10073,speciesId_4748,speciesId_51,speciesId_8542,speciesId_2753,speciesId_3125,speciesId_10281,speciesId_559,speciesId_1254,speciesId_2783,...,speciesId_5412,speciesId_5557,speciesId_7748,speciesId_9261,speciesId_9458,speciesId_10904,speciesId_540,speciesId_1018,Croatia,MEDITERRANEAN
14,speciesId_1964,speciesId_10073,speciesId_10600,speciesId_8807,speciesId_8428,speciesId_9024,speciesId_2885,speciesId_4397,speciesId_2025,speciesId_5383,...,speciesId_3958,speciesId_10317,speciesId_3177,speciesId_1086,speciesId_6788,speciesId_9816,speciesId_9028,speciesId_6883,Czech Republic,CONTINENTAL
15,speciesId_6491,speciesId_10073,speciesId_1018,speciesId_5398,speciesId_3123,speciesId_4758,speciesId_1497,speciesId_6643,speciesId_7871,speciesId_6002,...,speciesId_2891,speciesId_3838,speciesId_6358,speciesId_11140,speciesId_7040,speciesId_9890,speciesId_10364,speciesId_2608,Czech Republic,PANNONIAN
16,speciesId_254,speciesId_540,speciesId_10255,speciesId_10600,speciesId_4397,speciesId_4499,speciesId_6079,speciesId_4638,speciesId_1964,speciesId_7978,...,speciesId_9072,speciesId_7760,speciesId_9816,speciesId_3497,speciesId_8431,speciesId_581,speciesId_6643,speciesId_6962,Denmark,ATLANTIC
17,speciesId_4397,speciesId_540,speciesId_254,speciesId_1964,speciesId_2885,speciesId_4499,speciesId_10317,speciesId_10073,speciesId_11195,speciesId_6310,...,speciesId_8431,speciesId_581,speciesId_7121,speciesId_6491,speciesId_6643,speciesId_4638,speciesId_9072,speciesId_9465,Denmark,CONTINENTAL
18,speciesId_963,speciesId_6788,speciesId_5542,speciesId_9647,speciesId_53,speciesId_2025,speciesId_544,speciesId_10247,speciesId_8807,speciesId_8428,...,speciesId_843,speciesId_8573,speciesId_7706,speciesId_10896,speciesId_2885,speciesId_3792,speciesId_8424,speciesId_2398,France,ALPINE
19,speciesId_2474,speciesId_10247,speciesId_8151,speciesId_8208,speciesId_9647,speciesId_5071,speciesId_981,speciesId_1888,speciesId_10385,speciesId_6788,...,speciesId_963,speciesId_10909,speciesId_3935,speciesId_146,speciesId_6331,speciesId_7318,speciesId_5412,speciesId_6079,France,ATLANTIC
20,speciesId_10247,speciesId_963,speciesId_2474,speciesId_9647,speciesId_10385,speciesId_8208,speciesId_4609,speciesId_6788,speciesId_1888,speciesId_4871,...,speciesId_8424,speciesId_10600,speciesId_7788,speciesId_53,speciesId_6925,speciesId_8807,speciesId_4238,speciesId_7536,France,CONTINENTAL
21,speciesId_11157,speciesId_5412,speciesId_2474,speciesId_9458,speciesId_10909,speciesId_8208,speciesId_11193,speciesId_6874,speciesId_10073,speciesId_2386,...,speciesId_1254,speciesId_982,speciesId_5474,speciesId_2634,speciesId_4003,speciesId_1497,speciesId_51,speciesId_7706,France,MEDITERRANEAN
22,speciesId_96,speciesId_3722,speciesId_7121,speciesId_9024,speciesId_10317,speciesId_249,speciesId_254,speciesId_9076,speciesId_9376,speciesId_9892,...,speciesId_6310,speciesId_8428,speciesId_8949,speciesId_53,speciesId_469,speciesId_643,speciesId_651,speciesId_1086,Germany,ALPINE
23,speciesId_6079,speciesId_6962,speciesId_254,speciesId_6989,speciesId_10255,speciesId_10317,speciesId_2025,speciesId_6331,speciesId_10113,speciesId_540,...,speciesId_1180,speciesId_1910,speciesId_10600,speciesId_3738,speciesId_1387,speciesId_3361,speciesId_9024,speciesId_9816,Germany,ATLANTIC
24,speciesId_11140,speciesId_694,speciesId_4748,speciesId_8542,speciesId_1497,speciesId_7040,speciesId_559,speciesId_469,speciesId_1705,speciesId_1818,...,speciesId_5557,speciesId_10073,speciesId_8746,speciesId_8983,speciesId_2753,speciesId_9636,speciesId_9881,speciesId_10998,Germany,CONTINENTAL
25,speciesId_10073,speciesId_5804,speciesId_10315,speciesId_10909,speciesId_1254,speciesId_3251,speciesId_9458,speciesId_9555,speciesId_10364,speciesId_544,...,speciesId_3125,speciesId_6909,speciesId_8508,speciesId_8542,speciesId_9572,speciesId_10268,speciesId_10281,speciesId_171,Greece,MEDITERRANEAN
26,speciesId_423,speciesId_10073,speciesId_5804,speciesId_1162,speciesId_53,speciesId_8818,speciesId_9024,speciesId_8106,speciesId_1964,speciesId_4734,...,speciesId_1086,speciesId_5557,speciesId_96,speciesId_2949,speciesId_7121,speciesId_4758,speciesId_1497,speciesId_2891,Italy,ALPINE
27,speciesId_963,speciesId_1677,speciesId_5542,speciesId_5022,speciesId_1498,speciesId_8807,speciesId_8573,speciesId_1497,speciesId_7862,speciesId_1793,...,speciesId_8106,speciesId_10073,speciesId_7322,speciesId_2386,speciesId_544,speciesId_661,speciesId_2398,speciesId_10896,Italy,CONTINENTAL
28,speciesId_9572,speciesId_10909,speciesId_11193,speciesId_9458,speciesId_11157,speciesId_6039,speciesId_6235,speciesId_6874,speciesId_9877,speciesId_2386,...,speciesId_2474,speciesId_2421,speciesId_2634,speciesId_8106,speciesId_3935,speciesId_3669,speciesId_476,speciesId_10520,Italy,MEDITERRANEAN
29,speciesId_53,speciesId_5542,speciesId_8428,speciesId_8705,speciesId_963,speciesId_5022,speciesId_544,speciesId_5071,speciesId_8573,speciesId_791,...,speciesId_9647,speciesId_9669,speciesId_1677,speciesId_10600,speciesId_7322,speciesId_3792,speciesId_2025,speciesId_2398,Montenegro,ALPINE
30,speciesId_5868,speciesId_1712,speciesId_2145,speciesId_11140,speciesId_7644,speciesId_9555,speciesId_1051,speciesId_10525,speciesId_8542,speciesId_2753,...,speciesId_3125,speciesId_3476,speciesId_1162,speciesId_4349,speciesId_3639,speciesId_10950,speciesId_10899,speciesId_10904,Montenegro,MEDITERRANEAN
31,speciesId_540,speciesId_6079,speciesId_10317,speciesId_6491,speciesId_6643,speciesId_4397,speciesId_11140,speciesId_254,speciesId_11195,speciesId_10255,...,speciesId_9376,speciesId_10600,speciesId_9465,speciesId_1539,speciesId_5386,speciesId_2025,speciesId_6915,speciesId_3123,Netherlands,ATLANTIC
32,speciesId_4397,speciesId_8431,speciesId_4499,speciesId_1539,speciesId_1086,speciesId_10317,speciesId_540,speciesId_7333,speciesId_8818,speciesId_3722,...,speciesId_2211,speciesId_433,speciesId_5398,speciesId_8760,speciesId_10223,speciesId_11140,speciesId_5383,speciesId_10600,Poland,CONTINENTAL
33,speciesId_10073,speciesId_4397,speciesId_1497,speciesId_1964,speciesId_10317,speciesId_4748,speciesId_4758,speciesId_11140,speciesId_1818,speciesId_5149,...,speciesId_6788,speciesId_7990,speciesId_2250,speciesId_3639,speciesId_4499,speciesId_5383,speciesId_8428,speciesId_9024,Slovakia,CONTINENTAL
34,speciesId_3958,speciesId_2885,speciesId_3177,speciesId_9261,speciesId_5704,speciesId_8208,speciesId_8424,speciesId_10525,speciesId_10684,speciesId_146,...,speciesId_2961,speciesId_6883,speciesId_6925,speciesId_9388,speciesId_9636,speciesId_10051,speciesId_10385,speciesId_11195,Slovakia,PANNONIAN
35,speciesId_5804,speciesId_423,speciesId_2783,speciesId_7121,speciesId_9881,speciesId_10073,speciesId_4499,speciesId_4707,speciesId_7559,speciesId_9376,...,speciesId_249,speciesId_1015,speciesId_1162,speciesId_1288,speciesId_1525,speciesId_2949,speciesId_2961,speciesId_3236,Slovenia,ALPINE
36,speciesId_2474,speciesId_3935,speciesId_8106,speciesId_8424,speciesId_9458,speciesId_9647,speciesId_10385,speciesId_10896,speciesId_11005,speciesId_146,...,speciesId_469,speciesId_791,speciesId_799,speciesId_868,speciesId_1424,speciesId_1677,speciesId_1818,speciesId_2142,Slovenia,CONTINENTAL
37,speciesId_10600,speciesId_8428,speciesId_1162,speciesId_7706,speciesId_96,speciesId_4102,speciesId_391,speciesId_843,speciesId_10255,speciesId_10904,...,speciesId_1761,speciesId_2587,speciesId_7817,speciesId_8573,speciesId_9636,speciesId_51,speciesId_469,speciesId_544,Spain,ALPINE
38,speciesId_10317,speciesId_1910,speciesId_8208,speciesId_9028,speciesId_976,speciesId_1497,speciesId_7999,speciesId_9024,speciesId_10315,speciesId_2142,...,speciesId_11140,speciesId_1888,speciesId_6118,speciesId_6788,speciesId_10896,speciesId_3722,speciesId_7322,speciesId_694,Spain,ATLANTIC
39,speciesId_10364,speciesId_5557,speciesId_8542,speciesId_10073,speciesId_1092,speciesId_8746,speciesId_1162,speciesId_1254,speciesId_6437,speciesId_4892,...,speciesId_4498,speciesId_4748,speciesId_5071,speciesId_7748,speciesId_8208,speciesId_9555,speciesId_10281,speciesId_10950,Spain,MEDITERRANEAN
40,speciesId_5557,speciesId_3451,speciesId_262,speciesId_1015,speciesId_5543,speciesId_4748,speciesId_1092,speciesId_10904,speciesId_1018,speciesId_1254,...,speciesId_8316,speciesId_8746,speciesId_11140,speciesId_423,speciesId_8983,speciesId_469,speciesId_4734,speciesId_1162,Switzerland,ALPINE
41,speciesId_963,speciesId_8807,speciesId_53,speciesId_6788,speciesId_5542,speciesId_10896,speciesId_2474,speciesId_9647,speciesId_799,speciesId_843,...,speciesId_5335,speciesId_10247,speciesId_1677,speciesId_7322,speciesId_7999,speciesId_10315,speciesId_544,speciesId_6685,Switzerland,CONTINENTAL

In [16]:
# merge columns the strings in the first 25 columns in a single column called predictions
species['predictions'] = species.iloc[:,:25].apply(lambda x: ' '.join(x).replace("speciesId_", ""), axis=1)

# droop the first 25 columns
species = species.drop(columns=species.columns[:25])
species

,country,region,predictions
0,Austria,ALPINE,9024 4748 11140 3722 423 10073 1818 10317 1090...
1,Austria,CONTINENTAL,1018 10073 4758 5398 7871 11140 5557 10364 109...
2,Austria,PANNONIAN,1858 433 4628 9816 7871 1951 5739 2101 11140 9...
3,Belgium,ATLANTIC,540 6491 2885 6643 11140 9816 6079 11195 4397 ...
4,Belgium,CONTINENTAL,6643 2885 9376 2908 4541 540 3958 6915 9890 11...
5,Bosnia and Herzegovina,ALPINE,11120 10367 1497 1539 7706 2025 4609 4758 544 ...
6,Bosnia and Herzegovina,CONTINENTAL,4748 8760 4609 4628 4758 8106 10315 11120 300 ...
7,Bosnia and Herzegovina,MEDITERRANEAN,509 963 1092 1139 1736 2747 3043 4748 5412 555...
8,Bulgaria,ALPINE,1254 9555 10364 8542 10317 11140 10281 10904 8...
9,Bulgaria,BLACK SEA,6491 5420 2684 4027 8635 51 53 96 129 140 146 ...
10,Bulgaria,CONTINENTAL,10364 9555 8542 3722 1018 4404 7817 11140 7244...
11,Croatia,ALPINE,963 8807 2474 5542 1677 3792 5022 7862 8106 92...
12,Croatia,CONTINENTAL,2474 9028 10385 10896 8106 8424 9647 1677 1100...
13,Croatia,MEDITERRANEAN,10073 4748 51 8542 2753 3125 10281 559 1254 27...
14,Czech Republic,CONTINENTAL,1964 10073 10600 8807 8428 9024 2885 4397 2025...
15,Czech Republic,PANNONIAN,6491 10073 1018 5398 3123 4758 1497 6643 7871 ...
16,Denmark,ATLANTIC,254 540 10255 10600 4397 4499 6079 4638 1964 7...
17,Denmark,CONTINENTAL,4397 540 254 1964 2885 4499 10317 10073 11195 ...
18,France,ALPINE,963 6788 5542 9647 53 2025 544 10247 8807 8428...
19,France,ATLANTIC,2474 10247 8151 8208 9647 5071 981 1888 10385 ...
20,France,CONTINENTAL,10247 963 2474 9647 10385 8208 4609 6788 1888 ...
21,France,MEDITERRANEAN,11157 5412 2474 9458 10909 8208 11193 6874 100...
22,Germany,ALPINE,96 3722 7121 9024 10317 249 254 9076 9376 9892...
23,Germany,ATLANTIC,6079 6962 254 6989 10255 10317 2025 6331 10113...
24,Germany,CONTINENTAL,11140 694 4748 8542 1497 7040 559 469 1705 181...
25,Greece,MEDITERRANEAN,10073 5804 10315 10909 1254 3251 9458 9555 103...
26,Italy,ALPINE,423 10073 5804 1162 53 8818 9024 8106 1964 473...
27,Italy,CONTINENTAL,963 1677 5542 5022 1498 8807 8573 1497 7862 17...
28,Italy,MEDITERRANEAN,9572 10909 11193 9458 11157 6039 6235 6874 987...
29,Montenegro,ALPINE,53 5542 8428 8705 963 5022 544 5071 8573 791 8...
30,Montenegro,MEDITERRANEAN,5868 1712 2145 11140 7644 9555 1051 10525 8542...
31,Netherlands,ATLANTIC,540 6079 10317 6491 6643 4397 11140 254 11195 ...
32,Poland,CONTINENTAL,4397 8431 4499 1539 1086 10317 540 7333 8818 3...
33,Slovakia,CONTINENTAL,10073 4397 1497 1964 10317 4748 4758 11140 181...
34,Slovakia,PANNONIAN,3958 2885 3177 9261 5704 8208 8424 10525 10684...
35,Slovenia,ALPINE,5804 423 2783 7121 9881 10073 4499 4707 7559 9...
36,Slovenia,CONTINENTAL,2474 3935 8106 8424 9458 9647 10385 10896 1100...
37,Spain,ALPINE,10600 8428 1162 7706 96 4102 391 843 10255 109...
38,Spain,ATLANTIC,10317 1910 8208 9028 976 1497 7999 9024 10315 ...
39,Spain,MEDITERRANEAN,10364 5557 8542 10073 1092 8746 1162 1254 6437...
40,Switzerland,ALPINE,5557 3451 262 1015 5543 4748 1092 10904 1018 1...
41,Switzerland,CONTINENTAL,963 8807 53 6788 5542 10896 2474 9647 799 843 ...

In [17]:
for pred in species['predictions']:
    print(pred)

9024 4748 11140 3722 423 10073 1818 10317 10904 5804 1497 7121 96 9376 249 694 6883 1086 1139 6079 9076 9465 1092 1254 8818
1018 10073 4758 5398 7871 11140 5557 10364 10904 1254 8208 3123 6491 3838 8632 4748 6925 6002 5739 423 4734 2840 6643 433 3639
1858 433 4628 9816 7871 1951 5739 2101 11140 907 5149 6377 8632 9069 249 1018 1086 1254 3123 3347 3476 5398 6746 7227 8858
540 6491 2885 6643 11140 9816 6079 11195 4397 254 3722 9376 5420 10763 10113 10255 1951 10317 7121 4499 822 5398 6962 3958 649
6643 2885 9376 2908 4541 540 3958 6915 9890 11140 3123 5980 6491 8858 9816 6551 10317 3177 10763 140 1910 4748 1951 2211 2474
11120 10367 1497 1539 7706 2025 4609 4758 544 791 509 1092 1254 4871 5071 5542 8106 8428 10315 10427 469 890 963 1677 4397
4748 8760 4609 4628 4758 8106 10315 11120 300 822 958 1018 1677 2753 2891 3123 3161 3476 5420 5704 6377 7748 7871 8508 8858
509 963 1092 1139 1736 2747 3043 4748 5412 5557 7322 8106 8542 9771 10268 11120 51 53 96 129 140 146 167 169 171
1254 9555 10364 8542 10317 11140 10281 10904 8316 3722 7244 7706 171 2753 1018 4854 5543 6097 8149 9636 4758 5398 2211 10073 249
6491 5420 2684 4027 8635 51 53 96 129 140 146 167 169 171 249 254 262 300 340 351 391 394 398 423 424
10364 9555 8542 3722 1018 4404 7817 11140 7244 10904 1254 4854 10281 2211 4748 2753 3151 3969 6666 7706 8149 10950 3438 7990 9341
963 8807 2474 5542 1677 3792 5022 7862 8106 9261 10047 6909 7971 7999 8508 791 976 1793 8428 10315 10385 10896 799 1424 2142
2474 9028 10385 10896 8106 8424 9647 1677 11005 146 2747 3935 6925 8208 2142 3020 10367 5400 6909 8705 9261 10073 4871 5704 10525
10073 4748 51 8542 2753 3125 10281 559 1254 2783 7536 8106 8431 423 982 2891 3020 5412 5557 7748 9261 9458 10904 540 1018
1964 10073 10600 8807 8428 9024 2885 4397 2025 5383 5398 11140 963 7121 53 843 7687 3958 10317 3177 1086 6788 9816 9028 6883
6491 10073 1018 5398 3123 4758 1497 6643 7871 6002 1254 5980 6746 10904 3639 5543 5739 2891 3838 6358 11140 7040 9890 10364 2608
254 540 10255 10600 4397 4499 6079 4638 1964 7978 6310 10940 9024 10317 9341 5386 3275 9072 7760 9816 3497 8431 581 6643 6962
4397 540 254 1964 2885 4499 10317 10073 11195 6310 9707 6962 9816 11140 8818 10600 963 8431 581 7121 6491 6643 4638 9072 9465
963 6788 5542 9647 53 2025 544 10247 8807 8428 2474 9669 8208 4238 7999 5335 10600 843 8573 7706 10896 2885 3792 8424 2398
2474 10247 8151 8208 9647 5071 981 1888 10385 6788 7536 4609 6684 4871 6989 6925 10315 963 10909 3935 146 6331 7318 5412 6079
10247 963 2474 9647 10385 8208 4609 6788 1888 4871 8151 10896 5071 5542 10315 6989 9669 8424 10600 7788 53 6925 8807 4238 7536
11157 5412 2474 9458 10909 8208 11193 6874 10073 2386 4530 1276 3935 1736 6039 476 3251 1254 982 5474 2634 4003 1497 51 7706
96 3722 7121 9024 10317 249 254 9076 9376 9892 423 1288 1818 2211 4499 4638 4748 6310 8428 8949 53 469 643 651 1086
6079 6962 254 6989 10255 10317 2025 6331 10113 540 10223 2885 11195 5386 7760 5900 1539 1180 1910 10600 3738 1387 3361 9024 9816
11140 694 4748 8542 1497 7040 559 469 1705 1818 4734 7972 10392 7536 9714 3358 8632 5557 10073 8746 8983 2753 9636 9881 10998
10073 5804 10315 10909 1254 3251 9458 9555 10364 544 7315 11120 5474 7322 7706 2474 2949 3125 6909 8508 8542 9572 10268 10281 171
423 10073 5804 1162 53 8818 9024 8106 1964 4734 10427 4748 7706 9376 3451 8428 11140 1086 5557 96 2949 7121 4758 1497 2891
963 1677 5542 5022 1498 8807 8573 1497 7862 1793 8512 10047 9669 3792 7755 791 2474 8106 10073 7322 2386 544 661 2398 10896
9572 10909 11193 9458 11157 6039 6235 6874 9877 2386 4659 5474 10073 1736 7318 7748 3125 2474 2421 2634 8106 3935 3669 476 10520
53 5542 8428 8705 963 5022 544 5071 8573 791 8807 843 10047 10896 509 7999 8949 9647 9669 1677 10600 7322 3792 2025 2398
5868 1712 2145 11140 7644 9555 1051 10525 8542 2753 7315 10281 4892 3722 1015 4758 351 3125 3476 1162 4349 3639 10950 10899 10904
540 6079 10317 6491 6643 4397 11140 254 11195 10255 2885 9816 6962 3722 10763 7817 4499 9376 10600 9465 1539 5386 2025 6915 3123
4397 8431 4499 1539 1086 10317 540 7333 8818 3722 10218 4492 1964 7121 3227 10073 7739 2211 433 5398 8760 10223 11140 5383 10600
10073 4397 1497 1964 10317 4748 4758 11140 1818 5149 3236 5398 5804 10600 10998 167 1086 6788 7990 2250 3639 4499 5383 8428 9024
3958 2885 3177 9261 5704 8208 8424 10525 10684 146 5398 7322 8926 10315 11120 394 2747 2961 6883 6925 9388 9636 10051 10385 11195
5804 423 2783 7121 9881 10073 4499 4707 7559 9376 11140 2891 3969 4397 5398 8760 9465 249 1015 1162 1288 1525 2949 2961 3236
2474 3935 8106 8424 9458 9647 10385 10896 11005 146 2747 4609 6684 6909 8208 10367 96 469 791 799 868 1424 1677 1818 2142
10600 8428 1162 7706 96 4102 391 843 10255 10904 2025 3451 5173 9892 249 963 1015 1761 2587 7817 8573 9636 51 469 544
10317 1910 8208 9028 976 1497 7999 9024 10315 2142 2386 5071 9341 963 249 1264 9647 11140 1888 6118 6788 10896 3722 7322 694
10364 5557 8542 10073 1092 8746 1162 1254 6437 4892 981 3581 5412 5543 351 661 2474 4498 4748 5071 7748 8208 9555 10281 10950
5557 3451 262 1015 5543 4748 1092 10904 1018 1254 10073 1497 6002 7871 3639 9555 9714 8316 8746 11140 423 8983 469 4734 1162
963 8807 53 6788 5542 10896 2474 9647 799 843 9669 694 976 1707 2025 2142 2398 5335 10247 1677 7322 7999 10315 544 6685

In [21]:
# split the predictions column convert to ints sort and join back to a string
# species['predictions'] = species['predictions'].str.split(' ').apply(lambda x: sorted([int(i) for i in x]))
species['predictions'] = species['predictions'].str.split(' ').apply(lambda x: ' '.join([str(x) for x in sorted([int(i) for i in x])]))
# tmp = species['predictions'].str.split(' ').apply(lambda x: sorted([i for i in x]))
# for row in tmp:
#     print(row)
species

,country,region,predictions
0,Austria,ALPINE,96 249 423 694 1086 1092 1139 1254 1497 1818 3...
1,Austria,CONTINENTAL,423 433 1018 1254 2840 3123 3639 3838 4734 474...
2,Austria,PANNONIAN,249 433 907 1018 1086 1254 1858 1951 2101 3123...
3,Belgium,ATLANTIC,254 540 649 822 1951 2885 3722 3958 4397 4499 ...
4,Belgium,CONTINENTAL,140 540 1910 1951 2211 2474 2885 2908 3123 317...
5,Bosnia and Herzegovina,ALPINE,469 509 544 791 890 963 1092 1254 1497 1539 16...
6,Bosnia and Herzegovina,CONTINENTAL,300 822 958 1018 1677 2753 2891 3123 3161 3476...
7,Bosnia and Herzegovina,MEDITERRANEAN,51 53 96 129 140 146 167 169 171 509 963 1092 ...
8,Bulgaria,ALPINE,171 249 1018 1254 2211 2753 3722 4758 4854 539...
9,Bulgaria,BLACK SEA,51 53 96 129 140 146 167 169 171 249 254 262 3...
10,Bulgaria,CONTINENTAL,1018 1254 2211 2753 3151 3438 3722 3969 4404 4...
11,Croatia,ALPINE,791 799 963 976 1424 1677 1793 2142 2474 3792 ...
12,Croatia,CONTINENTAL,146 1677 2142 2474 2747 3020 3935 4871 5400 57...
13,Croatia,MEDITERRANEAN,51 423 540 559 982 1018 1254 2753 2783 2891 30...
14,Czech Republic,CONTINENTAL,53 843 963 1086 1964 2025 2885 3177 3958 4397 ...
15,Czech Republic,PANNONIAN,1018 1254 1497 2608 2891 3123 3639 3838 4758 5...
16,Denmark,ATLANTIC,254 540 581 1964 3275 3497 4397 4499 4638 5386...
17,Denmark,CONTINENTAL,254 540 581 963 1964 2885 4397 4499 4638 6310 ...
18,France,ALPINE,53 544 843 963 2025 2398 2474 2885 3792 4238 5...
19,France,ATLANTIC,146 963 981 1888 2474 3935 4609 4871 5071 5412...
20,France,CONTINENTAL,53 963 1888 2474 4238 4609 4871 5071 5542 6788...
21,France,MEDITERRANEAN,51 476 982 1254 1276 1497 1736 2386 2474 2634 ...
22,Germany,ALPINE,53 96 249 254 423 469 643 651 1086 1288 1818 2...
23,Germany,ATLANTIC,254 540 1180 1387 1539 1910 2025 2885 3361 373...
24,Germany,CONTINENTAL,469 559 694 1497 1705 1818 2753 3358 4734 4748...
25,Greece,MEDITERRANEAN,171 544 1254 2474 2949 3125 3251 5474 5804 690...
26,Italy,ALPINE,53 96 423 1086 1162 1497 1964 2891 2949 3451 4...
27,Italy,CONTINENTAL,544 661 791 963 1497 1498 1677 1793 2386 2398 ...
28,Italy,MEDITERRANEAN,476 1736 2386 2421 2474 2634 3125 3669 3935 46...
29,Montenegro,ALPINE,53 509 544 791 843 963 1677 2025 2398 3792 502...
30,Montenegro,MEDITERRANEAN,351 1015 1051 1162 1712 2145 2753 3125 3476 36...
31,Netherlands,ATLANTIC,254 540 1539 2025 2885 3123 3722 4397 4499 538...
32,Poland,CONTINENTAL,433 540 1086 1539 1964 2211 3227 3722 4397 449...
33,Slovakia,CONTINENTAL,167 1086 1497 1818 1964 2250 3236 3639 4397 44...
34,Slovakia,PANNONIAN,146 394 2747 2885 2961 3177 3958 5398 5704 688...
35,Slovenia,ALPINE,249 423 1015 1162 1288 1525 2783 2891 2949 296...
36,Slovenia,CONTINENTAL,96 146 469 791 799 868 1424 1677 1818 2142 247...
37,Spain,ALPINE,51 96 249 391 469 544 843 963 1015 1162 1761 2...
38,Spain,ATLANTIC,249 694 963 976 1264 1497 1888 1910 2142 2386 ...
39,Spain,MEDITERRANEAN,351 661 981 1092 1162 1254 2474 3581 4498 4748...
40,Switzerland,ALPINE,262 423 469 1015 1018 1092 1162 1254 1497 3451...
41,Switzerland,CONTINENTAL,53 544 694 799 843 963 976 1677 1707 2025 2142...

In [52]:
with open("submission-top25.csv", "w") as f:
    f.write("surveyId,predictions\n")
    for index, row in test_df.iterrows():
        survey_id = row['surveyId']
        country = row['country']
        region = row['region']
        f.write(f"""{survey_id},{species.query("country == @country and region == @region")['predictions'].iloc[0]}\n""")